nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  color: black;
  background-color: tan;
}
.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
img {
  height: 30px;
  width: 30px;
}
